HTTP_ADDRESS=:8086
DB_DSN=postgres://postgres:postgres@localhost:5437/file_db?sslmode=disable

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=diploma-files
MINIO_USE_SSL=false
MAX_FILE_SIZE=10485760
MAX_VIDEO_SIZE=52428800
PRESIGNED_TTL=15m
THUMBNAIL_TTL=1h

# Local host listener: localhost:29092
# Docker network listener: kafka:9092
KAFKA_BROKERS=localhost:29092

HEADER_HMAC_KEY=diploma-internal-hmac-secret-key-2026
USER_SERVICE_URL=http://localhost:8082
CORS_ALLOWED_ORIGIN=http://localhost:8080
LOG_LEVEL=info
